body {
    margin: 0px;
    overflow: hidden;
}

svg {
    width: 100%; 
    height: auto; 
    height: intrinsic;
}

.sphere {
    fill: #ffffff;
}

.country {
    fill: #ebebeb;
    stroke: #ebebeb;
    stroke-opacity: 1;
}

.charity-header {
    padding: 24px;
    @media (min-width: 600px) {
        position: absolute;
        top: 200px;
    }
}

.donations {
    fill: red;
    opacity: 0.7;
}

.charity {
    fill: black;
    opacity: 0.7;
}

.donation-circles {
    fill: blue;
    opacity: 0.5;
}