body {
    margin: 0px;
    overflow: hidden;
    font-family: "Figtree", sans-serif;
}

h1 {
    margin: 12px 0;
}

svg.map {
    width: 100%; 
    height: 450; 
    height: intrinsic;
}

.sphere {
    fill: #ffffff;
}

.country {
    fill: #ebebeb;
    stroke: #ebebeb;
    stroke-opacity: 1;
}

.charity-header {
    padding: 24px;
    z-index: 2;
    @media (min-width: 600px) {
        position: absolute;
        top: 200px;
    }
}

.donations {
    fill: red;
    opacity: 0.7;
}

.charity {
    fill: black;
    opacity: 0.7;
}

.donation-circles {
    fill: blue;
    opacity: 0.5;
}

.donation-circles:hover {
    opacity: 1;
    stroke: lightblue;
    stroke-width: 3;
}

.tooltip-donation-dot {
    position: absolute;
    display: none;
    background-color: black;
    opacity: 0.85;
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.tooltip-donation-dot.show {
    display: block;
}

#tooltip-donation-amount {
    display: flex;
    margin-top: 8px;
}

#tooltip-donation-amount-value {
    margin-right: 4px;
}

.map-container {
    position: relative;
    z-index: 1;
}

.map-legend {
    display: flex;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.map-legend-item {
    align-items: center;
    display: flex;
    margin-left: 8px;
}

.map-legend-label {
    margin-left: 4px;
}

.legend-donation-dot {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: blue;
}

.tag {
    background-color: lightblue;
    color: blue;
    font-weight: 700;
    border-radius: 16px;
    display: inline-block;
    padding: 4px 12px;
}

.tag-content {
    align-items: center;
    display: flex;
}

.tag-content svg {
    margin-right: 4px;
    fill: blue;
}

button.donate-button {
    background-color: #008748;
    border-radius: 8px;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    font-family: 'Figtree';
    font-weight: 600;
    font-size: 16px;
}

button.donate-button:hover {
    background-color: #006e3a;
}