body {
    margin: 0px;
    overflow: hidden;
}

svg {
    width: 100%; 
    height: auto; 
    height: intrinsic;
}

.sphere {
    fill: #ffffff;
}

.country {
    fill: #ebebeb;
    stroke: #ebebeb;
    stroke-opacity: 1;
}

.charity-header {
    padding: 24px;
    z-index: 2;
    @media (min-width: 600px) {
        position: absolute;
        top: 200px;
    }
}

.donations {
    fill: red;
    opacity: 0.7;
}

.charity {
    fill: black;
    opacity: 0.7;
}

.donation-circles {
    fill: blue;
    opacity: 0.5;
}

.donation-circles:hover {
    opacity: 1;
    stroke: lightblue;
    stroke-width: 3;
}

.tooltip-donation-dot {
    position: absolute;
    display: none;
}

.tooltip-donation-dot.show {
    display: block;
}

.map-container {
    position: relative;
    z-index: 1;
}

.map-legend {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.legend-donation-dot {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: blue;
}